#mainNav {
    font-family: Aldrich, sans-serif;
    background-color: rgba(17,31,75,0.25);
    color: aliceblue;
    border-bottom: 3px solid;
    border-right: 3px solid;
    border-left: 3px solid;
    border-color: aqua;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

#brandNavMain {
    padding: 1%;
}

#basic-navbar-nav {
    color: aliceblue;
}

a#basic-navbar-nav:hover {
    border-bottom: 1px solid aqua;
}

#loginTxt {
    margin-right: 2%;
}