@import 'assets/base-styles.scss';

body {
  background-color: $secondary;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;

  margin: 0;
  font-family: "Lucida Console", "Helvetica Neue", sans-serif;
}
